li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 11px;
}
body{
    padding-bottom: 100px;
}
button{
    border: none;
}